body 
    width: 100%
    margin: 0
    font-family: 'Poetsen One', sans-serif
  

.home-container
    width: 100%
    display: flex
    flex-direction: column
    align-items: center
    justify-content: space-between
   

