p 
  margin: 10px 0px
  padding: 0
  color: #FFFFFF




.home__container
    width: 100%
    display: flex
    flex-direction: column
    align-items: center
    justify-content: space-between
    background-color: #010B13
    gap: 20px
    
    .home__animation
        margin: 50px 0px 0px 0px
        width : 100%
        display: flex
        align-items: flex-start
        justify-content: center
        font-size: 4.5em
        text-align: center
        color: #FFFFFF

    .introduction__section
        margin-bottom: 50px
        width: 100%
        display: flex
        flex-direction: row
        justify-content: center
        align-items: center
        gap: 10px

        .introduction__text
            width: 50%
            font-size: 2em
            line-height: 1.4
            color: #FFFFFF

        .introduction__picture
            width: 250px
            height: 380px
            margin: 0px 100px 0px 100px 
            display: flex
            justify-content: center
            border: none
            border: 10px solid black
            border: none
            border-radius: 10px
            background-color: #000000
            overflow: hidden         

            img
                width: 105%
                object-fit: cover 
                
                

    .links__section
        .links__perso
            min-width: 300px
            padding: 15px
            display: flex
            flex-direction: row
            gap: 60px
            border: 0.5px solid #DEB992
            border-radius: 10px
            box-shadow: 0px 2px 7px #DEB992
            background-color: #000B13

            .links__button_container:hover
                transform: scale(1.1)
                p
                    text-shadow: 0px 0px 5px #DEB992
              
            .links__button_container:active    
                transform: scale(0.9)
            p 
                margin: 0px
                text-decoration: none
                text-align: center
                font-size: 2em
                font-weight: 450
                color: #DEB992


    .formation__section
        width: 100%
        display: flex
        flex-direction: column
        align-items: center
        hr
            width: 190px

        .formation__background
            top: 0
            left: 0
            width: 78%
            height: 100%
            border-radius: 30px
            background-image: url('../../assets/year-pic.webp')
            background-position: center

        .formation__content
            width: 100%
            padding: 30px 0px 
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            border: 2px solid #DEB992
            border-radius: 30px
            box-shadow: 1px 2px 8px #DEB992
            background-color: rgba(0, 0, 0, 0.9)
            color: white
            img
                width: 150px
                border: 2px solid #FFFFFF
                border-radius: 15px
            p   
                font-size: 2.5em
                font-weight: 400
   
            .formation__text
                font-size: 2em
                color: white
        

    .skills__section
        width: 100%
        margin-top: 150px
        display: flex
        flex-direction: column
        align-items: center
        gap: 0px
        hr
            width: 230px
     
        .skills__content
            padding-bottom: 20px
            width: 90%
            display: flex
            flex-direction: column
            align-items: center
            background-color: #F4F3EF
            border: 1px solid #DEB992
            border-radius: 30px
            box-shadow: 1px 2px 8px #DEB992
            background-color: #010B13
           
            
    
    .redirection__section
        margin-top: 150px
        background-color: transparent
  

        .redirection__link
            max-width: 1440px
            min-width: 500px
            width: 1100px
            height: 500px
            display: flex
            flex-direction: column
            align-items: center
            justify-content: center
            border: 1.5px solid #DEB992
            border-radius: 40px
            box-shadow: 1px 2px 8px #DEB992
            background-color:  #010b13
               
            .redirection__button
                width: 25%
                height: 20%
                min-width: 300px
                padding: 18px
                display: flex
                align-items: center
                justify-content: center
                border-radius: 10px
                background-color: #000000
                box-shadow: 0 2px 10px #FFFFFF
                border: 1px solid #DEB992
              
                a
                    text-decoration: none
                    p
                        text-align: center
                        color: #FFFFFF
                        font-size: 3.5em
                        font-weight: 400
                    

            .redirection__button:hover
                cursor: pointer
             
                transform: scale(1.05)
            .redirection__button:active
                transform: scale(0.9)
                box-shadow: 4px 4px 40px #FFFFFF

#redirection__projet
    //background-image: url('../../assets/fond-2.webp')
#redirection__contact
    //background-image: url('../../assets/fond-1.webp')


        
#bottom__section
    margin-bottom: 100px
    

