.modal__overlay
    position: fixed
    top: 0
    left: 0
    right: 0
    bottom: 0
    background: rgba(0, 0, 0, 0.8)
    display: none
    justify-content: center
    align-items: center
    z-index: 1000

    &.open
        display: flex
        
    .modal__content
        width: 70%
        height: 70%
        background: white
        padding: 20px
        border-radius: 20px
        position: relative
        display: flex
        flex-direction: column
        align-items: center

        .close__button
            position: absolute
            top: 25px
            right: 25px
            font-size: 2rem
            background: none
            cursor: pointer
            border: none

        p 

            color: black

        .modal__title
            width: 100%
            display: flex
            justify-content: center
            align-items: center
            p    
                color : #144A4B
                font-size: 60px
                font-weight: 500
                border: 2px solid black

  