@import '../../style/variables-mixins.sass'

.error__container
  width: $full
  padding: 100px 0px
  +flex-column-space
  gap: 130px
  background-color: $primary-color

  p
    margin:0
    text-align: center
    color: #E75D50
   
    
.error__type
  width: $full
  margin: 0
  font-size: 500px
  font-weight: 700
  

.error__message
  font-size: $xl
  font-weight: 500
  
.home__link
  +flex-row-center
  margin: 0px 50px
  padding: 20px
  text-decoration: none
  border: 5px solid  #E75D50
  color: $second-color
  font-size: $xl
  font-weight: 700
  
.home__link:hover
  transform: scale(1.05)

.home__link:active
  transform: scale(1)


// MEDIA QUERIES //

// Media Queries MEDIUM DEVICES
$breakpoint-medium: 1024px
@media screen and (max-width: $breakpoint-medium)
  .error__container
    gap: 100px

  .error__type
    font-size: 220px

  .error__message
    font-size: 36px
  

// Media Queries SMALL DEVICES
$breakpoint-small: 768px
@media screen and (max-width: $breakpoint-small)
  .error__container
    gap: 80px
    
  
  .error__type
    font-size: 180px

  .error__message
    font-size: $l
    padding: 0px 20px

  .home__link
    font-size: $m
  



  
