.description__container
    width: 100%
    display: flex
    flex-direction: column
    justify-content: center
    gap: 50px
    color:#FFFFFF

    .text__container
        width: 100%
        display: flex
        flex-direction: column
        align-items: center
        

        .projet__title
            margin: 0
            padding: 20px 0px
            font-size: 6em
            font-weight: 500
            text-align: center
            text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.9)

        p
            font-size: 3em
            font-weight: 350
            color: #FFFFFF
            
        .projet__description
            width: 90%
            text-align: center

    .projet__missions__container
        padding: 30px
        margin-bottom: 50px
        display: flex
        flex-direction: column
        align-items: center
        border: 1px solid #DEB992
        border-radius: 30px
        background: rgba(0, 0, 0, 0.7)
        box-shadow: 5px 5px 10px #000000

        .projet__missions__title
            margin: 0
            font-size: 3.5em
            font-weight: 400
            color: #FFFFFF
            text-align: center
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5)
                 
        .projet__missions
            text-align: center
            color: #DEB992
            font-size: 2.5em
            font-weight: 400
            text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.9)

        