
header
    width: 100%
    margin-bottom: 50px
    display: flex
    justify-content: space-between
    align-items: center
    flex-direction: row
    flex-wrap: nowrap
    //background-color: #333
    //background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0))


.navbar
    margin-right: 50px
    display: flex
    flex-direction: row
    align-items: center
    flex-wrap: nowrap
    gap: 20px
            
    button
        text-decoration: none
        border: none
        background-color: transparent
        font-family: 'Poetsen One', sans-serif
        font-size : 30px
        //color: white
               
        button:hover
            cursor: pointer


footer
    width: 100%
    position: absolute
    bottom: 0
    //background-color: #333
    //background-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0))

    .footer__containt
        display: flex
        flex-direction: column
        align-items: center
        font-family:  'Dancing Script', cursive
        font-size: 15px
        //color: white
        text-align: center
            
        img
            margin: 0
            height: 5px
            width: 5px
        //voir logo couleur tel blanc

