ul, li
    list-style-type: none
    
.tableau__container  
    width: 100%

    padding: 50px 0px
    display: flex
    justify-content: center
    align-items: center
    
   
 
    .tableau
        width: 90%
        display: flex
        flex-direction: row 
        justify-content: space-between
        align-items: flex-start
        //font-family: 'Anton'
        color: #FFFFFF
        background-color: transparant
        

        h3  
            margin: 0
            display: flex
            justify-content: center
            align-items: center
            font-size: 60px
            font-weight: 450
            color: #FFFFFF
            
           
            
        ul
            margin: 0
            padding: 0
            display: flex
            flex-direction: column
            align-items: center
            font-size: 50px
            color: #FFFFFF
            
            
            

            li
                margin-top: 20px

        

  






   



   


        

