h2
    margin: 0

.projets__section
    width: 100%  
    display: flex
    flex-direction: column
    align-items: center
    justify-content:space-between
    gap: 0px
    background-color: #010b13

    .projets__page__banner
        margin-top: 50px
        hr
            display: none

    .projets__intro
        margin-top: 10px
        text-align: center
        color: #FFFFFF
        font-size: 3em

    
        .intro__animation
            margin-top: 10px
            margin-bottom: 20px
            font-size: 1em
            font-weight: 300
            word-spacing: 0.3em
            color: #FFFFFF
            text-shadow: 0 0 6px #000000

        hr
            margin-top: 150px
            margin-bottom: 150px

    .projets__container--left
        width: 90%
        margin-bottom: 150px
        display: flex
        flex-direction: row
        justify-content: space-around
        align-items: center
        background-color: rgba(0, 0, 0, 0.3)
        box-shadow: 3px 5px 5px #DEB992
        border: 1px solid #DEB992
        border-radius: 20px

    .projets__container--right
        width: 80%
        padding: 20px 20px 
        margin-bottom: 150px
        width: 100%
        display: flex
        flex-direction: row-reverse
        justify-content: space-around
        align-items: center
        background-color: rgba(0, 0, 0, 0.3)
        box-shadow: 3px 5px 5px #DEB992
        border: 1px solid #DEB992
        border-radius: 20px

    .projets__description__container
        width: 40%
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
    
    .projet__technologies__container
        position: relative
        width: 80%
        margin: 20px
        padding: 20px
        display: flex
        flex-direction: column
        align-items: center
        border: 1px solid #deb992
        border-radius: 30px
        box-shadow: 5px 5px 10px #000000
        background: rgba(0, 0, 0, 0.8)

        .projet__technologies__title
            margin: 0
            font-size: 2.5em
            font-weight: 400
            color: #FFFFFF
            text-align: center
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5)
            
        .projet__technologies
            width: 100%
            margin-top: 30px
            display: flex
            flex-direction: row
            justify-content: space-between
            align-items: center

        .hover__technologies
            position: absolute
            width: 100%
            height: 60%
            top: 40%
            left: 0
            display: none
            flex-direction: row
            justify-content: flex-end
            align-items: center
            border-radius: 0px 0px 30px 30px
            background-color: rgba(0, 0, 0, 0.9)
            z-index:1
            p
                width: 100%
                text-align: center
                color: #FFFFFF
                font-size: 1.5em
                font-weight: 400

        &:hover .hover__technologies
            display: flex
    
                
    .projet__pic__container
        margin: 50px 0px
        position: relative
        width: 50%
        height: 750px
        display: flex   
        justify-content: center
        flex-direction: column
        border-radius: 40px
        border: 1.5px solid #DEB992      
        box-shadow: 0px 0px 5px #DEB992
        img
            width: 100%
            height: 100%
            object-fit: cover
            object-position: 15% 0%
            border-radius: 40px

        .hover__content 
            position: absolute
            width: 100%
            height: 100%
            top: 0
            left: 0
            display: none
            flex-direction: column
            justify-content: center
            align-items: center 
            background-color: rgba(0, 0, 0, 0.9)
            border: 1px solid #DEB992
            font-size: 1.5rem
            border-radius: 40px
            z-index: 1
            
        &:hover .hover__content 
            display: flex
            
        .hover__title
            width: 100%
            text-align: center
            font-size: 3.5em
            font-weight: 400
            color: #FFFFFF
     
        .hover__link
            padding: 30px
            button
                opacity: 1
                padding: 40px 50px
                text-align: center
                border: 1px solid #DEB992
                border-radius: 10px
                font-size: 1.5em
                background: #000000
                color: #FFFFFF
                box-shadow: 0px 0px 10px #FFFFFF
                cursor: pointer
            button:hover
                transform: scale(1.1)
    

 
