@import '../../style/variables-mixins.sass'

.logos
    position: relative
    width: $full
    margin-top: 50px
    +flex-row-space
    flex-wrap: nowrap
    overflow: hidden
    gap:0
    background-color: $primary-color
    opacity: 0.9
    box-shadow:  0px 0px 10px $second-color
      
.logos__slide 
    margin: 0
    padding: 10px 0px
    display: flex
    gap: 120px
    flex-wrap: nowrap
    animation: slide 30s linear infinite

    img
        width: $logoL
        height: $logoL
        margin: 0
    #react-logo
        margin-left: 100px
      
@keyframes slide 
    0% 
        transform: translateX(0%)
    
    100% 
        transform: translateX(-100%)
    


//MEDIA QUERIES //

// Media Queries MEDIUM DEVICES
$breakpoint-medium: 1024px
@media screen and (max-width: $breakpoint-medium)

    .logos
        img
            width: $logoM
            height: $logoM
            margin: 0px

  
      
// Media Queries SMALL DEVICES
$breakpoint-small: 768px
@media screen and (max-width: $breakpoint-small)

    .logos
        img
            width: $logoS
            height: $logoM
            margin: 0px


 

