.logos
    width: 100%
    margin: 0
    display: flex
    flex-direction: row
    justify-contentspace-between
    flex-wrap: nowrap
    overflow: hidden
    gap: 150px
    background-color: #FFFFFF
    opacity: 0.9
    border-top: 6px solid  #deb992
    border-bottom: 6px solid  #deb992
   
    


.logos__slide 
    margin: 0
    padding: 10px 0px
    display: flex
    gap: 150px
    flex-wrap: nowrap
    animation: slide 60s linear infinite
  

    img
        width: 150px
        height: auto
      

@keyframes slide 
    0% 
        transform: translateX(0%)
    
    100% 
        transform: translateX(-100%)
    