.banner__container
    background-color: #010B13
    margin: 0px 0px 20px 0px
    padding: 0px 
    text-align: center
    font-size: 60px
    background-color: transparent
    

    h2
        width: 100%
        margin: 0 auto      
        font-weight: 370
        color: #deb992
        text-shadow: 4px 4px 10px #000000

hr 
    width: 150px
    height: 1px
    margin-bottom: 20px
    border: none
    background-color:#DEB992
      

// MEDIA QUERIES //
      
// Media Queries SMALL DEVICES
$breakpoint-small: 768px
@media screen and (max-width: $breakpoint-small)

    .banner__container
        font-size: 45px
        
        h2
            font-weight: 450
    hf
        width: 100px

 



        



    
    

 
    