.banner__container
    background-color: #010B13
    margin: 0px 0px 20px 0px
    padding: 0px 
    text-align: center
    font-size: 60px
    background-color: transparent
    

    h2
        width: 100%
        margin: 0 auto      
        font-weight: 360
        color: #deb992
        text-shadow: 4px 4px 10px #000000

hr 
    width: 150px
    height: 1px
    margin-bottom: 20px
    border: none
    background-color:#DEB992
      
        



    
    

 
    