@import '../../style/variables-mixins.sass'

.contact__page__container
    background-color: $third-color
    .contact__banner
        padding-top: 50px
        hr
            display: none

    .contact__page__text
        +flex-column-center
        margin: 50px 300px
        +intro-text
        font-size: $xl
        p 
            text-align: center

    a
        .button__container   
            img
                width: 150px
                height: 150px
                +border-second-color
               
                border-radius: 10px
            img:hover
                box-shadow:  1px 1px 10px $second-color
            img:active
                transform: scale(0.9)
   
    .contact__container
        margin: 0
        height: 100%
        +flex-column-center


// MEDIA QUERIES //

// Media Queries MEDIUM DEVICES
$breakpoint-medium: 1024px
@media screen and (max-width: $breakpoint-medium)
    .contact__page__container
        .contact__banner
            padding-top: 40px
            hr
                display: none
            
        .contact__page__text
            margin: 50px 100px
            font-size: $l

    .contact__container
        .contact__form__container
            button
                width: 20%
                padding: 9px
                font-size: 0.9em
            input, textarea
                min-width: 200px
            .contact__form 
                gap: 30px
            

      

// Media Queries SMALL DEVICES
$breakpoint-small: 768px
@media screen and (max-width: $breakpoint-small)   
  
    .contact__container
        .contact__form__container 
            input, textarea
                width: 250px
    
            .contact__form
                label
                    text-align: center  
                    white-space: nowrap
               
                .contact__form__name, .contact__form__email, .contact__form__message 
                    align-items: center
                    flex-wrap: no-wrap

