

.contact__page__container
    background-color: #010B13

    .contact__banner
        padding-top: 50px
        hr
            display: none

    .contact__container
        margin: 0
        display: flex
        flex-direction: column
        align-items: center
        justify-content: space-beteween